{% extends 'main/base.html' %}

{% block title %}
Read some posts & updates
{% endblock %}

{% block content %}

    


<h2 class = "text-center">Latest news</h2>
    





<div class="container mt-4">
  <div class="row">
    {% for message in messages %}
    <div class="col-md-4 mb-4 d-flex align-items-stretch">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ message.title }}</h5>
          
          <p class="card-text text-truncate" style="max-height: 4.5em; overflow: hidden;">
            {{ message.text }}
          </p>

          <p class="text-muted" style="font-size:smaller">{{ message.date }}</p>
          
          <div class="mt-auto">
            <a href="{% url 'blog_detail' message.pk %}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}