{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Contact me via some social networks
{% endblock %}
{% block body_class %}no-scroll{% endblock %}
{% block content %}


<div class="container">
    <h2 class = "text-center">Contact me via...</h2>
    <div class = "row justify-content-center">

 <div class="mb-4 d-flex justify-content-center">
    <div class="card" >
  

  <div class="card-body">
    
    <a target="_blank" href="https://www.linkedin.com/in/yerasyl-yesbergen-22b7a9366/">
    <button class="btn btn-primary">Linked-In Profile</button>
    </a>
    <br>
    <br>

    <a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&to=johndoe@example.com&su=Hello+John&body=Just+wanted+to+say+hi.&tf=cm">
    <button class="btn btn-primary">GoogleMail Chat</button>
    </a>
    </div>

    
  </div>
</div>

</div>
</div>

{% endblock %}