{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Welcome to the Yerassyl's site!
{% endblock %}
{% block body_class %}no-scroll{% endblock %}
{% block content %}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'main/img/pos3.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/img/pos4.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/img/pos6.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% endblock %}